<a href="https://colab.research.google.com/github/Jhoe73/data_science/blob/main/regressao_logistica_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import statsmodels.api as sm

# Carrega o dataset
file_path = 'titanic.csv'
titanic_data = pd.read_csv(file_path)

# Estrutura do Dataset
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [ ]:
# Preparando os dados
# Convertendo a variável 'Sex' em uma variável dummy
titanic_data['Sex'] = titanic_data['Sex'].map({'male': 0, 'female': 1})

# Definindo as variáveis independentes e a variável dependente
X = titanic_data[['Pclass', 'Age', 'Siblings/Spouses Aboard', 'Sex']]
y = titanic_data['Survived']

# Lidando com valores faltantes em 'Age'
X['Age'].fillna(X['Age'].mean(), inplace=True)

# Adicionando uma constante ao modelo
X = sm.add_constant(X)

# Ajustando o modelo de regressão logística
model = sm.Logit(y, X)
result = model.fit()

# Exibindo os resultados
result.summary()

Optimization terminated successfully.
         Current function value: 0.441305
         Iterations 6

C:\Users\Jhoe\AppData\Local\Temp\ipykernel_15604\2247822361.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'].fillna(X['Age'].mean(), inplace=True)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  887
Model:                          Logit   Df Residuals:                      882
Method:                           MLE   Df Model:                            4
Date:                Sun, 04 Feb 2024   Pseudo R-squ.:                  0.3381
Time:                        23:17:18   Log-Likelihood:                -391.44
converged:                       True   LL-Null:                       -591.38
Covariance Type:            nonrobust   LLR p-value:                 2.932e-85
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       2.7956      0.450      6.215      0.000       1.914       3.677
Pclass                     -1.2651      0.127     -9.960      0.000      -1.514      -1.016
Age                        -0.0437      0.008     -5.679      0.000      -0.059      -0.029
Siblings/Spouses Aboard    -0.4078      0.105     -3.876      0.000      -0.614      -0.202
Sex                         2.7365      0.196     13.981      0.000       2.353       3.120
===========================================================================================
"""

* **"Quanto maior classe do bilhete, menor chance de sobreviver ao naufrágio"** - O coeficiente para a classe do bilhete (Pclass) foi de -1,265, o que indica que quanto maior a classe (com 1 sendo a mais alta e 3 a mais baixa), menor é a chance de sobrevivência.

* **"Quanto menor a idade, maior chance de sobreviver ao naufrágio"** - O coeficiente para a idade foi de -0,044, indicando que pessoas mais jovens tinham ligeiramente mais chances de sobreviver

* **"Quanto mais parentes presentes no navio, menor chance de sobreviver ao naufrágio"** - O coeficiente para a variável de parentes presentes no navio foi de -0,408. Isso sugere que quanto mais parentes a bordo, menor a chance de sobrevivência.